# Created by .ignore support plugin (hsz.mobi)
### java template
# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath


# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
*.orig

# idea ignore
.idea/
*.ipr
*.iws
.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/


cloud-api-commons/src/test/
cloud-comsumer-order80/src/test/
cloud-eureka-server7001/src/test/
cloud-eureka-server7002/src/test/
cloud-provider-payment8001/src/test/
